
.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
    padding-bottom: 200px;
}

.modal_body {
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 1em;
    transition: all 1s ease;
}

.message {
    font-size: 2em;
}

.reset_btn {
    height: 40px;
    padding: 0 15px;
    background-color: cadetblue;
    color: white;
    border: aliceblue;
    border-radius: 1em;
    margin-top: 50px;
    font-size: 2em;
}

.reset_btn:hover,
.reset_btn:active {
    background-color: turquoise;
    color: black;
    border: 1px solid whitesmoke;
}

.reset_btn:focus {
    outline: none;
}
