* {
  font-family: "Roboto", sans-serif;
}

.player_indicator {
  text-align: center;
  margin-top: 20px;
  color: cadetblue;
}

.board {
  display: grid;
  position: relative;
  z-index: 99;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  height: 500px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  transition: z-index 1s ease, height 1s ease;
}

.board_tile {
  border: 1px solid rgb(39, 43, 51);
}

.reset {
  height: 40px;
  background-color: cadetblue;
  border-radius: 20px;
  font-size: 1.2rem;
}

.reset:hover,
.reset:active {
  background-color: turquoise;
  border: 1px solid whitesmoke;
}

